.map {
  padding: 0;
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  margin-right: 5rem;
}
.mapdiv {
  margin: auto;
}
.path1 {
  fill: #7f5539;
  stroke: #fff;
  stroke-width: 5;
  &:hover {
    fill: rgb(255, 217, 0);
  }
}
.path2 {
  fill: #7f5539;
  &:hover {
    fill: rgb(255, 217, 0);
  }
}

.jkspetial {
  fill: #7f5539;
  &:hover {
    fill: rgb(255, 217, 0);
  }
}

.map_box {
  text-align: end;
  height: 5rem;
  &--details {
    border-radius: 1rem;
    background-color: rgba(143, 196, 231, 0.603);
    // max-width: 100%;
    min-width: 50%;
    text-align: center;
    display: inline-block;
  }
  &--state {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(69, 8, 236, 0.938);
  }
}
