<div>
  <app-about-us></app-about-us>
  <div class="container">
    <div class="static-data">
      <div *ngIf="!districtReached" class="static-card">
        # Total Districts:
        {{
          InitialEducationalParameters?.Districts
            ? InitialEducationalParameters?.Districts
            : 0
        }}
      </div>
      <div *ngIf="districtReached" class="static-card">
        # Type:
        {{
        InitialEducationalParameters?.Type
        ? InitialEducationalParameters?.Type
        : 'Type'
        }}
      </div>
      <div class="static-card">
        NAS(Grade 5):
        {{ InitialEducationalParameters?.NAS_Grade5 ? InitialEducationalParameters?.NAS_Grade5 : 0 }}
      </div>
      <div class="static-card">
        # Total Schools:
        {{
          InitialEducationalParameters?.TotalSchools
            ? InitialEducationalParameters?.TotalSchools
            : 0
        }}
      </div>
      <div class="static-card">
        # Total Students:
        {{
          InitialEducationalParameters?.TotalStudents
            ? InitialEducationalParameters?.TotalStudents
            : 0
        }}
      </div>
    </div>
  </div>
  <div class="container map-data-flex">
    <div>
     <app-india-map
        *ngIf="!selectedState"
        (notifyParent)="onStateClickHandler($event)"
        (mouseIn)="onMouseInHandler($event)"
        (mouseOut)="onMouseOutHandler($event)"
        (stateHover)="onStateHover($event)"
        [jsonData]="jsonData"      
        ></app-india-map>
      <app-state-map
        (notifyParent)="onStateClickHandler($event)"
        *ngIf="selectedState"
        [state]="selectedState"
        (districtHover)="onDistrictHover($event)"
      ></app-state-map>
      <app-district-page *ngIf="selectedDistrict">
      </app-district-page>
    </div>
    <div>
      <div class="dynamic-data">
        <div *ngIf="!districtReached" class="dynamic-card">
        <span># Shikshagraha Districts: {{
        InitialProgramParameters?.ShikshagrahaDistricts
        ? InitialProgramParameters?.ShikshagrahaDistricts
        : 0
        }}
       </span></div>
        <div *ngIf="!districtReached" class="dynamic-card"><span># Shikshagraha Partners: {{
        InitialProgramParameters?.ShikshagrahaPartners
        ? InitialProgramParameters?.ShikshagrahaPartners
        : 0
        }}</span></div>
        <div *ngIf="districtReached" class="dynamic-card"><span># Shikshagraha Partners: {{
              InitialProgramParameters?.ShikshagrahaPartner
              ? InitialProgramParameters?.ShikshagrahaPartner
              : 0
        }}</span></div>
         <div *ngIf="!districtReached" class="dynamic-card"><span># Program Started: {{
        InitialProgramParameters?.ProgramsStarted
        ? InitialProgramParameters?.ProgramsStarted
        : 0
        }}</span></div>
        <div class="dynamic-card"><span># Schools Reached: {{
        InitialProgramParameters?.SchoolsReached
        ? InitialProgramParameters?.SchoolsReached
        : 0
        }}</span></div>
        <div class="dynamic-card"><span># Students Reached: {{
        InitialProgramParameters?.StudentsReached
        ? InitialProgramParameters?.StudentsReached
        : 0
        }}</span></div>
        <div class="dynamic-card">
          <span># Educational Leaders Involved: {{
          InitialProgramParameters?.EducationalLeadersInvolved
          ? InitialProgramParameters?.EducationalLeadersInvolved
          : 0
          }}</span>
        </div>
        <div class="dynamic-card">
          <span># Micro-improvements Triggered: {{
          InitialProgramParameters?.MicroImprovementsTriggered
          ? InitialProgramParameters?.MicroImprovementsTriggered
          : 0
          }}</span>
        </div>
      </div>
    </div>

    <div *ngIf="noData && !districtReached" class="noDataFound">
      <div>
        <span class="material-symbols-outlined">
          pin_drop
        </span> No Shikshagraha data found for this<span *ngIf="!districtReached">state</span><span *ngIf="districtReached">district</span>.
      </div>
     
    </div>
    <div *ngIf="!noData && stateName || districtName" class="stateName">
      <div>
        <!-- <span  class="material-symbols-outlined">
          pin_drop
        </span> -->
        <span *ngIf="!districtReached">{{stateName}}</span>
        <span *ngIf="districtReached">{{districtName}}</span>
      </div>
    
    </div>
  </div>
</div>
